<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" />
  <head>
    <title>TinyApp</title>
    <link rel="shortcut icon" href="../public/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../public/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../public/styles.css">
  </head>
  <body>

  <header class="site-header">
    <h1 class="logo">
      <a href="/urls">TinyApp</a>
    </h1>

    <% if (!id) {%>
      <div class="site-header--links">
        <span class="header-link--login">
          <a href="/login">Login</a>
        </span>
        <span class="header-link--register">
          <a href="/register">Register</a>
        </span>
      </div>
    <% } else { %>
      <span class="header-logged-in">
        You are logged in as <%= email %>
      </span>

      <form action="/logout" method="POST">
        <input type="submit" value="Logout">
      </form>
    <% } %>
  </header>
