<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <head>
    <title>TinyApp</title>
    <link rel="shortcut icon" href="../public/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../public/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../public/styles.css">
  </head>
  <body>

  <header class="site-header">
    <h1 class="logo">
      <a href="/urls">TinyApp</a>
    </h1>

    <% if (user_id === undefined) {%>
      <span class="header-link">
        <a href="/register">Register</a>
      </span>
      <span class="header-link">
        <a href="/login">Login</a>
      </span>
    <% } else { %>
      <span class="header-logged-in">
        You are logged in as <%= email %>
      </span>

      <form action="/logout" method="POST">
        <input type="submit" value="Logout">
      </form>
    <% } %>
  </header>
