<% include partials/_header %>

<section class="content-container">
  <form action="/urls" method="POST">
    <label for="longURL">Enter a URL:</label>
    <input id="longURL" type="text" name="longURL" placeholder="http://">
    <input type="submit" value="Submit">
  </form>
  
  <span class="default-link">
    <a href="/urls">Back</a>
  </span>
</section>

<% include partials/_footer %>
