<% include partials/_header %>

<section>
  <ul>
    <% for (let url in urls) { %>
      <li class="url-info">
        <%= url + ': ' + urls[url].url %>
      </li>
      <li class="url-edit">
        <a href="/urls/<%= url %>">Edit</a>
      </li>
      <li class="url-delete">
        <form method="POST" action="/urls/<%= url %>/delete">
          <button>Delete</button>
        </form>
      </li>
    <% } %>
  </ul>
  
  <% if (user_id !== undefined) {%>
    <span class="default-link">
      <a href="/urls/new">Shorten New URL</a>
    </span>
  <% } %>
</section>

<% include partials/_footer %>
