<% include partials/_header %>

<section>
  <form action="/register" method="POST">
    <label for="email">Email:</label>
    <input id="email" type="text" name="email" placeholder="your@email.com">

    <label for="password">Password:</label>
    <input id="password" type="text" name="password" placeholder="">

    <input type="submit" value="Register">
  </form>
  
  <span class="default-link">
    <a href="/urls">Back</a>
  </span>
</section>

<% include partials/_footer %>
