<% include partials/_header %>

<section class="content-container">
  <form action="/urls/<%= shortURL %>" method="POST">
    <ul>
      <li class="url-info">
        <%= shortURL + ': ' + urls[shortURL].url %>
      </li>
    </ul>

    <label for="longURL">Update URL:</label>
    <input id="longURL" type="text" name="longURL" placeholder="http://">
    <input type="submit" value="Submit">
  </form>

  <span class="default-link">
    <a href="/urls">Back</a>
  </span>
</section>

<% include partials/_footer %>
