/* Import Open Sans Google Font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

@media screen and (max-width: 769px) {
  body {
    font-size: 1.5rem;
  }
}

.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  margin-bottom: 2rem;
  background: rgba(0,12,13,0.03);
  border-bottom: 1px solid rgba(0, 12, 13, 0.09);
  box-shadow: 0 2px 8px rgba(0, 12, 13, 0.09);
}

@media screen and (max-width: 376px) {
  .site-header {
    display: block;
  }
}

.header-link--login,
.header-link--register {
  display: inline-block;
  margin-left: 0.5rem;
}

.logo {
  display: inline-block;
  margin: 0;
  font-size: 3rem;
}

.logo a {
  display: inline-block;
  color: #0B364A;
  text-decoration: none;
  transition: 0.2s ease;
}

.logo a:hover {
  color: #000000;
}

.header-logged-in {
  display: inline-block;
  padding: 0 1rem;
}

.login-form {
  display: inline-block;
}

.content-container {
  padding: 0 2rem 2rem;
}

.content-urls,
.content-urls--headers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 376px) {
  .content-urls,
  .content-urls--headers {
    display: block;
  }
}

.content-urls--headers {
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(0,12,13,0.09);
}

.content-urls--headers h3 {
  margin: 0;
}

label {
  display: block;
}

label[for='password'] {
  margin-top: 1rem;
}

input[type='text'] {
  width: 15rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid rgba(0, 12, 13, 0.24);
  border-radius: 4px;
}

.header-link--register a,
.url-edit a,
input[type='submit'] {
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #30bf4a;
  border: 1px solid rgba(0, 12, 13, 0.24);
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease;
}

.url-edit a {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.header-link--register a:hover,
.url-edit a:hover,
input[type='submit']:hover {
  background-color: #008733;
}

ul {
  padding: 0;
  list-style: none;
}

.url-info {
  margin-top: 0.5rem;
}

.url-edit,
.url-delete {
  display: inline-block;
}

.url-delete {
  margin-left: 0.5rem;
}

.default-link a,
.header-link--login a {
  color: rgb(0, 120, 207);
}

.default-link a:hover,
.header-link--login a:hover {
  color: rgb(2, 63, 107);
}

.default-link {
  display: block;
  margin-top: 2rem;
}
